name: alura_bytebank_forms
description: A new Flutter project.
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  provider: ^5.0.0
  brasil_fields: ^1.0.0
  date_time_picker: ^2.0.0
  flux_validator_dart: ^1.0.3
  image_picker: ^0.7.2+1
  local_auth: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
  - assets/bytebank_logo.png
